.drop-down-container .modal-header {
  width: 90%;
  margin: auto;
  text-align: center;
}

.drop-down-container .modal-header h1 {
  width: 90%;
  margin: auto;
  text-align: center;
}

.drop-down-container {
  text-align: center;
}

.drop-down-container h1 {
  color: black;
}

.drop-down-container form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.drop-down-container form button {
  background-color: #2f79d9;
  color: white;
  font-size: 25px;
  padding: 5px;
  border-radius: 10px;
  border: transparent;
}

.drop-down-container input {
  color: black;
  border: 0;
  border-bottom: 1px solid rgb(156, 156, 156);
}

.drop-down-container input:focus {
  border: 0;
  border-bottom: 1px solid black;
}

.hidden-drop {
  display: none;
  display: flex;
  flex-direction: column !important;
  top: 0;
  right: 0;
  margin-top: 200px;
  position: absolute;
  margin-right: 10px;
}

.footer-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-modal button {
  background: transparent;
  color: black;
  border: transparent;
}

.modal-button-container button {
  border: transparent;
  text-align: right !important;
  color: black;
  padding: 0;
}

.modal-button-container {
  padding: 10px;
  background-color: aliceblue;
  text-align: left;
  display: flex !important;
  flex-direction: column !important;
  margin-left: -35px;
}

.modal-dialog {
  width: 300px;
}

#toggleButton {
  border: none;
}

.prescription {
  background-color: rgb(227, 227, 227);
}
.prescription .date p {
  font-size: 20px;
}
.prescription .add a {
  border: 1px solid white;
}
.prescription .add a:hover {
  background-color: blue;
}
.prescription .main-prescription {
  background-color: #448AFF;
  color: white;
}
.prescription .healthallcol {
  background-color: white;
}
.prescription .date-share {
  display: flex;
  justify-content: space-between;
}
.prescription .date-share .share-add {
  display: flex;
  align-items: center;
  gap: 20px;
}
.prescription .date-share .share-add a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.prescription .health-situation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.prescription .health-situation .first-four {
  background-color: white;
  width: 200px;
  height: 250px;
  padding: 10px;
}
.prescription .health-situation .first-four .upper-icon {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.prescription .health-situation .first-four .upper-icon .left-upper i {
  color: rgb(204, 204, 204);
}
.prescription .health-situation .first-four .middle-icon {
  font-size: 50px;
  margin-bottom: 15px;
}
.prescription .health-situation .first-four a {
  font-size: 20px;
}
.prescription .health-situation .first-four p {
  font-size: 20px;
}
.prescription .health-situation .fifth {
  background-color: white;
  width: 400px;
  height: 250px;
  padding: 10px;
}
.prescription .health-situation .fifth .upper-icon {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.prescription .health-situation .fifth .upper-icon .left-upper i {
  color: rgb(204, 204, 204);
}
.prescription .health-situation .fifth .middle-icon {
  font-size: 50px;
  margin-bottom: 15px;
}
.prescription .health-situation .fifth a {
  font-size: 20px;
}
.prescription .health-situation .fifth p {
  font-size: 20px;
}
.prescription .medical-report {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.prescription .medical-report .medical-report-all {
  background-color: white;
  width: 400px;
  height: 270px;
}
.prescription .medical-report .medical-report-all .medical-report-all-header {
  display: flex;
  justify-content: space-between;
  background-color: #448AFF;
  color: white;
}

/* form------- */
.medical-report {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.medical-report .medical-report-all-form {
  background-color: white;
  width: 500px;
  height: 500px;
}
.medical-report .medical-report-all-form .medical-report-all-header {
  display: flex;
  justify-content: space-between;
  background-color: #448AFF;
  color: white;
}

/* responsive--------- */
@media only screen and (max-width: 768px) and (min-width: 0px) {
  .health-situation {
    display: flex;
    flex-direction: column;
  }
  .prescription .health-situation .fifth {
    width: 300px;
  }
  .medical-report {
    display: flex;
    flex-direction: column;
  }
  .prescription .medical-report .medical-report-all {
    width: 300px;
  }
}/*# sourceMappingURL=prescription.css.map */