$f-primary: "Roboto", sans-serif;
$f-secondary: 'Inter', sans-serif;

$c-primary: #4A4A4A;
$c-red: #CC0000;
$c-white: #FFF;
$c-black: #000;
$c-yellow: #F5A623;
$c-placeholder: #DADADA;
$c-blue: #41D0FB;
$c-dark-blue: #448AFF;
$c-header-banner: #DB5863;